<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory Management</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/categories.css" />
  </head>
  <body>
    <%- include('header.ejs') %>
    <main>
      <button class="btn">Add category</button>

      <div class="categories-container">
        <% categories.forEach(category => { %>
        <div class="category">
          <div class="category-image-container">
            <img
              class="category-image"
              src="<%= category.category_image %>"
              alt="<% category.category_name %>"
            />
          </div>
          <div class="category-text">
            <h3 class="category__name"><%= category.category_name %></h3>
            <P class="category__discription"> <%= category.description %> </P>
          </div>
        </div>
        <% }); %>
      </div>
    </main>
  </body>
</html>
