<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/header.css" />
  </head>
  <body>
    <header class="header">
      <h1 class="heading-primary">Your Favorite Inventory app!</h1>
      <nav>
        <ul class="nav">
          <li><a href="/products" class="nav__link">Products</a></li>
          <li><a href="/categories" class="nav__link">Categories</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
