#form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#form-container form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  position: relative;
}

form div:not(:last-child) {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

input {
  padding: 8px 16px;
  border-radius: 5px;
  border: 2px solid #c9d7f4;
  font-size: 16px;
  transition: all 0.2s;
}

input:focus {
  outline: none;

  border: 2px solid #445fcc;
}

label {
  font-size: 18px;
  color: #20254b;
}

.btns-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

#add-new,
#close-form {
  display: inline;
  min-width: 120px;
  margin: 0;
}
